@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #667eea, #764ba2, #6b8dd6, #e0c3fc);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

/* styles.css */
.input-style {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

.input {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 4px;
  width: 100%;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* =========================================== */
.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 20px;
  font-family: "Nirmala UI", Arial, sans-serif;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  padding: 10px;
  background-color: #e8f0fe;
  border-left: 4px solid #4285f4;
}
